<div
  class="min-h-screen flex items-center justify-center bg-gray-50 pb-40 py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <img
        class="mx-auto h-12 w-auto bg-pencil-500 p-2"
        src="https://about.pencilpd.com/static/pd-logo-f34f6d23756dd3d5390a058e45b95c1b.png"
        alt="pencil-500 Learning Technologies"
      />
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign up for an account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Already have an account?
        <span
          routerLink="/login"
          class="cursor-pointer font-medium text-pencil-500 transition duration-300 hover:text-pencil-600"
        >
          Login!
        </span>
      </p>
    </div>
    <div class="mt-8 space-y-6">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-pencil-500 focus:border-pencil-500 focus:z-10 sm:text-sm"
            placeholder="Email address"
            #email
          />
        </div>
        <div>
          <label for="email-address" class="sr-only">Username</label>
          <input
            id="email-address"
            name="username"
            type="text"
            autocomplete="username"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-pencil-500 focus:border-pencil-500 focus:z-10 sm:text-sm"
            placeholder="Username"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-pencil-500 focus:border-pencil-500 focus:z-10 sm:text-sm"
            placeholder="Password"
            #password
          />
        </div>
        <div>
          <label for="password" class="sr-only">Confirm Password</label>
          <input
            id="confirm-password"
            name="confirm-password"
            type="password"
            autocomplete="current-password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-pencil-500 focus:border-pencil-500 focus:z-10 sm:text-sm"
            placeholder="Confirm Password"
          />
        </div>
      </div>

      <div>
        <button
          (click)="authService.signup(email.value, password.value)"
          type="submit"
          class="group relative w-full flex justify-center mt-10 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-pencil-500 transition duration-300 hover:bg-pencil-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pencil-600"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</div>
